In [1]:
from scipy import stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings

In [10]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data,columns=('student_id','age'))

In [15]:

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    a = len(players)
    b = len(players.loc[1])
    return [a,b]

SyntaxError: invalid syntax (3225125957.py, line 1)

In [16]:
def selectData(students: pd.DataFrame) -> pd.DataFrame:
   return students.loc[students.student_id==101,['name','age']]
#708ms
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    df = students[students.student_id==101]
    return df[['name','age']]
#607ms
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students[students.student_id==101][['name','age']]
#527ms

In [17]:
def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus']=2*employees['salary']
    return employees
#505ms

In [18]:

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    customers['occurrences'] = customers.groupby('email').cumcount() + 1
    return customers[customers.occurrences==1][['customer_id','name','email']]
#656ms
def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    return customers.drop_duplicates(subset=['email'], keep='first')
#507ms

In [19]:

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    return students[students['name'].notnull()]
#543ms

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['salary']*=2
    return employees

In [20]:
def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students=students.rename(columns={'id':'student_id','first':'first_name','last':'last_name','age':'age_in_years'})
    return students
#553ms

In [24]:
def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students["grade"]=students["grade"].astype(int)
    return students
#491ms

SyntaxError: invalid syntax (2806183377.py, line 1)

In [25]:
def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
     products["quantity"]=products["quantity"].fillna(0)
     return products
#682ms

In [26]:
def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    return weather.pivot_table(index='month', columns='city', values='temperature', aggfunc='sum')
#629ms

In [27]:
data = {'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
        'Category': ['A', 'B', 'A', 'B'],
        'Value': [10, 20, 30, 40]}
df = pd.DataFrame(data)
df

         Date Category  Value
0  2022-01-01        A     10
1  2022-01-01        B     20
2  2022-01-02        A     30
3  2022-01-02        B     40

In [28]:
def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    return pd.melt(report, id_vars=['product'], var_name='quarter', value_name='sales')
#599ms

In [29]:
def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    return animals[animals.weight>100].sort_values(by='weight',ascending=False)[['name']]
#606ms

In [30]:
#sql and python crosscheck
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    return products[(products.low_fats=='Y') & (products.recyclable=='Y')][['product_id']]
# Write your MySQL query statement below
select product_id from Products
where  low_fats='Y' and recyclable='Y'

SyntaxError: invalid syntax (1381232198.py, line 5)

In [31]:
def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:
    return customer[((customer.referee_id!=2) | (customer.referee_id.isna()))][['name']]
#790ms
def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:
    return customer[(customer['referee_id']!=2) | (customer['referee_id'].isnull())][['name']]
#591ms

In [32]:
def article_views(views: pd.DataFrame) -> pd.DataFrame:
    df = views[(views.author_id==views.viewer_id)][['author_id']].rename(columns={'author_id': 'id'}).sort_values(by='id')
    return df.drop_duplicates()

#Runtime: 560 ms, faster than 69.95% of Pandas online submissions for Article Views I.

In [33]:
def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    return pd.merge(employees, employee_uni,on='id',how='left')[['unique_id','name']]
#781ms
def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    return pd.merge(employees, employee_uni,how="left")[["unique_id","name"]]
#596ms

In [34]:
def sales_analysis(sales: pd.DataFrame, product: pd.DataFrame) -> pd.DataFrame:
    return pd.merge(sales,product,how="left")[["product_name","year","price"]]
#680 ms, faster than 53.42%

In [35]:
def find_customers(visits: pd.DataFrame, transactions: pd.DataFrame) -> pd.DataFrame:
    df=pd.merge(visits,transactions,how="left",indicator=True)
    return df[(df._merge=="left_only")].groupby('customer_id').agg({'visit_id': 'count'}).reset_index().rename(columns={'visit_id': 'count_no_trans'})
#813 ms, faster than 35.57%
    # first find Visits that were not in transactions
f
    # then want to group on customer_id and count visits 
    return visits_no_transaction.groupby('customer_id')['visit_id'].size().reset_index().rename(columns = {'visit_id':'count_no_trans'})[['customer_id','count_no_trans']]

IndentationError: unexpected indent (3735013282.py, line 8)

In [36]:
def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    weather["recordDate_1"]=weather["recordDate"] - pd.Timedelta(days=1)
    df = pd.merge(weather,weather,left_on="recordDate_1",right_on="recordDate",how="left")
    return df[(df.temperature_x>df.temperature_y)][["id_x"]].rename(columns={"id_x":"id"})
#695 ms, faster than 30.72%
def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    weather.sort_values(by='recordDate', inplace=True)
    print(weather.recordDate.diff())
    return weather[(weather.temperature.diff() > 0) & (weather.recordDate.diff().dt.days == 1)][['id']]

#Runtime: 504 ms, faster than 92.79% of Pandas online submissions for Rising Temperature.

In [38]:
def get_average_time(activity: pd.DataFrame) -> pd.DataFrame:
    df1 = activity[(activity.activity_type=='start')]
    df2 = activity[(activity.activity_type=='end')]
    df = pd.merge(df1,df2,on=["machine_id","process_id"])
    df['processing_time']=df["timestamp_y"]-df["timestamp_x"]
    return df.groupby("machine_id")['processing_time'].mean().round(3).reset_index()
#621 ms, faster than 40.61% of Pandas online submissions for Average Time of Process per Machine.

SyntaxError: invalid syntax (206789435.py, line 1)

In [39]:

def employee_bonus(employee: pd.DataFrame, bonus: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(employee,bonus,how='left')
    return df[(df.bonus<1000)|(df.bonus.isna())][["name","bonus"]]
#Runtime: 650 ms, faster than 67.61

In [40]:
df = pd.DataFrame({'Group1': ['A', 'A', 'B', 'B', 'B', pd.NA]})

# Count the occurrences of each unique value in 'Group1', including missing values
counts = df['Group1'].fillna('Missing').value_counts()

counts

B          3
A          2
Missing    1
Name: Group1, dtype: int64

In [41]:
def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    students['key'] = 1
    subjects['key'] = 1
    student_subject=pd.merge(students,subjects,on='key').drop('key', axis=1)
    examinations['attended_exams']=1
    df = examinations.groupby(['student_id','subject_name']).agg({'attended_exams': 'sum'}).reset_index()
    df['attended_exams'].astype(int)
    df1=pd.merge(student_subject,df,how="outer")
    df1['attended_exams']=df1['attended_exams'].fillna(0)
    return df1.sort_values(by=['student_id','subject_name'])[['student_id','student_name','subject_name','attended_exams']]
    
#809 ms, faster than 28.97%

    Group1  count
0        B      3
1        A      2
2  Missing      1

In [42]:
def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    students['key'] = 1
    subjects['key'] = 1
    student_subject=pd.merge(students,subjects,on='key').drop('key', axis=1)
    examinations['attended_exams']=1
    df = examinations.groupby(['student_id','subject_name']).agg({'attended_exams': 'sum'}).reset_index()
    df['attended_exams'].astype(int)
    df1=pd.merge(student_subject,df,how="outer")
    df1['attended_exams']=df1['attended_exams'].fillna(0)
    return df1.sort_values(by=['student_id','subject_name'])[['student_id','student_name','subject_name','attended_exams']]

In [43]:
students = pd.DataFrame({'student_id': [1, 2, 3],
                         'name': ['Alice', 'Bob', 'Charlie']})

# Create DataFrame for subjects
subjects = pd.DataFrame({'subject_id': ['Math', 'Physics'],
                         'subject_name': ['Mathematics', 'Physics']})

df_students_subjects = students.merge(subjects, how='cross')
print(df_students_subjects)

   student_id     name subject_id subject_name
0           1    Alice       Math  Mathematics
1           1    Alice    Physics      Physics
2           2      Bob       Math  Mathematics
3           2      Bob    Physics      Physics
4           3  Charlie       Math  Mathematics
5           3  Charlie    Physics      Physics

In [44]:

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    df = employee.groupby("managerId").agg({"id":"count"}).reset_index()
    return employee.merge(df[df.id>=5][["managerId"]],how="inner",left_on="id",right_on="managerId")[["name"]]
    
#528 ms, faster than 84.68%

In [45]:

def confirmation_rate(signups: pd.DataFrame, confirmations: pd.DataFrame) -> pd.DataFrame:
    confirmations['confirmation_rate'] = numpy.where(confirmations['action'] == 'confirmed', 1, 0)
    df = confirmations.groupby("user_id").agg({"confirmation_rate":"mean"}).round(2).reset_index()
    return signups.merge(df,how="left")[["user_id","confirmation_rate"]].fillna(0)
    
#Runtime: 747 ms, faster than 45.75%

In [46]:

def not_boring_movies(cinema: pd.DataFrame) -> pd.DataFrame:
     return cinema[cinema['id'] % 2 != 0][cinema['description']!='boring' ].sort_values(by='rating',ascending=False)
#582 ms, faster than 37.31% of Pandas

def not_boring_movies(cinema: pd.DataFrame) -> pd.DataFrame:
     return cinema[(cinema['id'] % 2 != 0) & (cinema['description']!='boring' )].sort_values(by='rating',ascending=False)
    #497 ms, faster than 80.31%

In [58]:
data = {
    "headers": {
        "Prices": ["product_id", "start_date", "end_date", "price"],
        "UnitsSold": ["product_id", "purchase_date", "units"]
    },
    "rows": {
        "Prices": [
            [1, "2019-02-17", "2019-02-28", 5],
            [1, "2019-03-01", "2019-03-22", 20],
            [2, "2019-02-01", "2019-02-20", 15],
            [2, "2019-02-21", "2019-03-31", 30],
            [3, "2019-02-21", "2019-03-31", 30]
        ],
        "UnitsSold": [
            [1, "2019-02-25", 100],
            [1, "2019-03-01", 15],
            [2, "2019-02-10", 200],
            [2, "2019-03-22", 30]
        ]
    }
}

# Create DataFrame for Prices
prices = pd.DataFrame(data["rows"]["Prices"], columns=data["headers"]["Prices"])

# Create DataFrame for UnitsSold
units_sold = pd.DataFrame(data["rows"]["UnitsSold"], columns=data["headers"]["UnitsSold"])

In [62]:
def average_selling_price(prices: pd.DataFrame, units_sold: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(prices,units_sold,how="outer")
    df = df[((df.purchase_date>=df.start_date)&(df.purchase_date<=df.end_date))|(df.purchase_date.isna())]
    df['total'] = df['price']*df['units']
    df1=df.groupby("product_id").agg({"total":"sum","units":"sum"}).reset_index()
    df1["average_price"]=(df1["total"]/df1["units"]).round(2)
    df1["average_price"].fillna(value=0, inplace=True)
    df1["average_price"]=df1["average_price"].fillna(0)
    return df1[["product_id","average_price"]]
average_selling_price(prices,units_sold)

   product_id  average_price
0           1           6.96
1           2          16.96
2           3           0.00

In [63]:

def average_selling_price(prices: pd.DataFrame, units_sold: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(prices,units_sold,how="outer")
    df = df[((df.purchase_date>=df.start_date)&(df.purchase_date<=df.end_date))|(df.purchase_date.isna())]
    df['total'] = df['price']*df['units']
    df1=df.groupby("product_id").agg({"total":"sum","units":"sum"}).reset_index()
    df1["average_price"]=(df1["total"]/df1["units"]).round(2)
    df1['average_price'] = numpy.where(df1['average_price'].isna(), 0,df1['average_price'])
    df1["average_price"]=df1["average_price"].fillna(0)
    return df1[["product_id","average_price"]]

In [ ]:
#sql
    select a.project_id,
    round(avg(b.experience_years),2) as average_years 
    from project a left join employee b
    on a.employee_id=b.employee_id
    group by(a.project_id)
#Runtime: 968 ms, faster than 68.72%

In [64]:

def project_employees_i(project: pd.DataFrame, employee: pd.DataFrame) -> pd.DataFrame:
    df = project.merge(employee,how="left")[["project_id","experience_years"]]
    df2 = df.groupby("project_id").agg({"experience_years":"mean"}).reset_index().rename(columns={"experience_years":"average_years"})
    df2["average_years"]=df2["average_years"].round(2)
    return df2
#763 ms, faster than 11.82%

In [ ]:
# Write your MySQL query statement below
    select a.contest_id,
    round(a.count*100/c.total,2) as percentage
    from (select count(*) as count, contest_id from register group by contest_id) a cross join
    (select count(user_id) as total from
    users) c
    order by percentage desc, contest_id
#better solution  
select contest_id,
round(count(distinct user_id)*100/(select count(user_id)from Users),2)as percentage 
from Register 
 group by contest_id 
 order by percentage desc,contest_id;

In [ ]:

def users_percentage(users: pd.DataFrame, register: pd.DataFrame) -> pd.DataFrame:
    total=users["user_id"].count()
    df = register.groupby("contest_id").count().reset_index()
    df["percentage"]=round(df["user_id"]*100/total,2)
    return df.sort_values(by=["percentage","contest_id"],ascending=[False,True])
#834 ms, faster than 13.56% of
def users_percentage(users: pd.DataFrame, register: pd.DataFrame) -> pd.DataFrame:
    total=users["user_id"].count()
    df = register.groupby("contest_id").count().reset_index()
    df["percentage"]=round(df["user_id"]*100/total,2)
    return df.sort_values(by=["percentage","contest_id"],ascending=[False,True])[["contest_id","percentage"]]
#762