In [1]:
from scipy import stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings

In [10]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data,columns=('student_id','age'))

In [15]:

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    a = len(players)
    b = len(players.loc[1])
    return [a,b]

SyntaxError: invalid syntax (3225125957.py, line 1)

In [16]:
def selectData(students: pd.DataFrame) -> pd.DataFrame:
   return students.loc[students.student_id==101,['name','age']]
#708ms
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    df = students[students.student_id==101]
    return df[['name','age']]
#607ms
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students[students.student_id==101][['name','age']]
#527ms

In [17]:
def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus']=2*employees['salary']
    return employees
#505ms

In [18]:

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    customers['occurrences'] = customers.groupby('email').cumcount() + 1
    return customers[customers.occurrences==1][['customer_id','name','email']]
#656ms
def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    return customers.drop_duplicates(subset=['email'], keep='first')
#507ms

In [19]:

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    return students[students['name'].notnull()]
#543ms

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['salary']*=2
    return employees

In [20]:
def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students=students.rename(columns={'id':'student_id','first':'first_name','last':'last_name','age':'age_in_years'})
    return students
#553ms

In [24]:
def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students["grade"]=students["grade"].astype(int)
    return students
#491ms

SyntaxError: invalid syntax (2806183377.py, line 1)

In [25]:
def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
     products["quantity"]=products["quantity"].fillna(0)
     return products
#682ms

In [26]:
def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    return weather.pivot_table(index='month', columns='city', values='temperature', aggfunc='sum')
#629ms

In [27]:
data = {'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
        'Category': ['A', 'B', 'A', 'B'],
        'Value': [10, 20, 30, 40]}
df = pd.DataFrame(data)
df

         Date Category  Value
0  2022-01-01        A     10
1  2022-01-01        B     20
2  2022-01-02        A     30
3  2022-01-02        B     40

In [28]:
def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    return pd.melt(report, id_vars=['product'], var_name='quarter', value_name='sales')
#599ms

In [29]:
def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    return animals[animals.weight>100].sort_values(by='weight',ascending=False)[['name']]
#606ms

In [30]:
#sql and python crosscheck
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    return products[(products.low_fats=='Y') & (products.recyclable=='Y')][['product_id']]
# Write your MySQL query statement below
select product_id from Products
where  low_fats='Y' and recyclable='Y'

SyntaxError: invalid syntax (1381232198.py, line 5)

In [31]:
def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:
    return customer[((customer.referee_id!=2) | (customer.referee_id.isna()))][['name']]
#790ms
def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:
    return customer[(customer['referee_id']!=2) | (customer['referee_id'].isnull())][['name']]
#591ms

In [32]:
def article_views(views: pd.DataFrame) -> pd.DataFrame:
    df = views[(views.author_id==views.viewer_id)][['author_id']].rename(columns={'author_id': 'id'}).sort_values(by='id')
    return df.drop_duplicates()

#Runtime: 560 ms, faster than 69.95% of Pandas online submissions for Article Views I.

In [33]:
def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    return pd.merge(employees, employee_uni,on='id',how='left')[['unique_id','name']]
#781ms
def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    return pd.merge(employees, employee_uni,how="left")[["unique_id","name"]]
#596ms

In [ ]:
def sales_analysis(sales: pd.DataFrame, product: pd.DataFrame) -> pd.DataFrame:
    return pd.merge(sales,product,how="left")[["product_name","year","price"]]
#680 ms, faster than 53.42%